@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #09011b;
  --background-start: #aebffb;
  --background-end: #e4eafe;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #c4aefb;
    --background-start: #041551;
    --background-end: #01071b;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end)
    )
    var(--background-starT);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
