@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #210439;
  --background-start: #5D5393;
  --background-end: #857DB1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #522B72;
    --background-start: #221858;
    --background-end: #0F073B;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end)
    )
    var(--background-starT);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
